setuptools==45
Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14
Jinja2==2.10
SQLAlchemy==1.1.14
Tempita==0.5.2
WTForms==2.1
Werkzeug==0.13
blinker==1.4
coverage==4.3
decorator==4.1.2
flipflop==1.0
guess-language==0.2
gunicorn==19.7.0
itsdangerous==0.24
pbr==2.1.0
psycopg2
python-openid
pytz
six==1.11.0
speaklater==1.2
sqlalchemy-migrate
sqlparse==0.2.3
networkx==2.0
