{% extends 'layout.html' %}

{% block body %}
<main role="main" class="container">

     <div class="starter-template">
       <h1>Oldturkicmorph</h1>
       <p class="blog-post-meta"><i>Сайт разработан в рамках поддержанного РФФИ проекта № 17-04-00193 «Исторический корпус башкирского языка»</i></a></p>
       <hr>
       <p class="lead">Этот ресурс посвящен <a href="/about_turki">старотюркскому языку</a> и <a href="/morph">программе автоматического морфологического анализа</a> слов на этом языке. Здесь вы сможете разобрать любую словоформу, воспользоваться <a href="/dictionary">словарем</a> <i>(будет доступен в 2018 году)</i>, а также ознакомиться с любопытными фактками о старотюркском языке. Этот сайт является компонентом разрабатываемого нами проекта "Исторический корпус башкирского языка",  который будет включать максимально возможное число текстов, созданных в Башкортостане в XIII-XIX веках, оцифрованных, расшифрованных и размеченных, применение на них ранее разработанных механизмов машинного анализа, разработка системы соответствий с современным башкирским, позволяющей рассматривать башкирские и старотюркские тексты в едином комплексе.</p>
     </div>

   </main><!-- /.container -->
{% endblock %}
