{% extends 'layout.html' %}

{% block body %}
    <h1>О нас</h1>
    <p1>Я человек больной... Я злой человек. Непривлекательный я человек. Я думаю, что у меня болит печень. Впрочем, я ни шиша не смыслю в моей болезни и не знаю наверно, что у меня болит. Я не лечусь и никогда не лечился, хотя медицину и докторов уважаю. К тому же я еще и суеверен до крайности; ну, хоть настолько, чтоб уважать медицину. (Я достаточно образован, чтоб не быть суеверным, но я суеверен). Нет-с, я не хочу лечиться со злости. Вот этого, наверно, не изволите понимать. Ну-с, а я понимаю. Я, разумеется, не сумею вам объяснить, кому именно я насолю в этом случае моей злостью; я отлично хорошо знаю, что и докторам я никак не смогу «нагадить» тем, что у них не лечусь; я лучше всякого знаю, что всем этим я единственно только себе поврежу и никому больше. Но все-таки, если я не лечусь, так это со злости. Печенка болит, так вот пускай же ее еще крепче болит!</p1>
{% endblock %}