{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1>Oldturkicmorph</h1>
  <form action="{{ url_for('analysis') }}" method="POST">
    <div class="form-group">
      <input type="text" name="word" id="input-word" class="form-control" placeholder="ҡәблендәндүр" required autofocus value={{request.form.word}}>
      <small id="Help" class="form-text text-muted">Введите слово башкирской кириллицей</small>
    </div>
    <button type="submit" class="btn btn-primary">Разобрать</button>
  </form>

  <hr>


  <div class="container">

{% if res == [] %}
  <div class = 'text-muted'><i>{{ word+'+∅' }}</i></div>
{% else %}
  {% for p in res %}
  <p><h1>{{ res.index(p) + 1 }}.</h1> <h2>{{ p[0][0] }}</h2></p>
    <div class = 'text-muted'><i>{{p[0][1]}}</i></div>
    <p><h4>Морфологические признаки:</h4></p>
    <div class="jumbotron">
      <p><b>русский</b>: {{p[1][1]}}</p>
      <p><b>english</b>: {{p[1][0]}}</p>
      <p><b>башҡорт</b>:  {{p[1][2]}}</p>
    </div>
  </div>
{% endfor %}
{% endif %}

{% endblock %}
